html body {
	background: #000 !important;
}

h1 {
	color: rgb(255,255,255);
	font-variant: small-caps;
	font-size: 36px;
	font-weight: 700;
	
	padding-top: 60px;
	padding-bottom: 8px;
	margin-bottom: 32px;
	
	border-bottom: 3px solid rgb(255,255,255);
	width: 140px;
}

label {
	color: rgb(255, 255, 255);
	font-size: 21px;
	font-variant: small-caps;
}

input.input-box {
	outline: none;
	background: transparent;
	
	border-top: none;
	border-right: none;
	border-left: none;	
	border-bottom: 3px solid #FFF;
	-webkit-box-shadow: none;
	box-shadow: none;
	
	margin: 12px 0;
	width: 320px;
	
	font-size: 21px;
	color: rgba(255,255,255,.85);
}

input.input-box:focus {
	border-bottom: 3px solid rgb(255, 255, 0);
	box-shadow: 1px 1px -1px rgb(255, 255, 0);
	background: transparent;
}

button.btn-outline {
	border: 1px solid #FF0;
	background-color: transparent;
	
	width: 320px;
	height: 54px;
	
	font-size: 21px;
	font-variant: small-caps;
	font-weight: 700;
	color: #FFF;
	
	border-radius: 0;
}

button.btn-outline {
	margin-top: 16px;
}

button.btn-outline:hover {
	background: rgba(255, 255, 0, .85);
}

.has-error-message {
	width: 320px;
	color: red;
	font-style: italic;
	padding-bottom: 6px;
}
