
.return {
	padding-top: 12px;
}

.return-link {
	color: rgba(255,255,255,.95);
	font-variant: small-caps;
	font-size: 1.5em;
}

.container-marketinfo {
	padding-top: 27px;
	padding-left: 30px;
}

input, label {
	display: inline-block;
	font-size: .7em;
	color: #fff;
	padding: 0;
}

input.btn-submit {
	border: 1px solid #FF0;
	background: transparent;
	width: 80%;
}

input.btn-outline {
	border: 1px solid #FF0;
	background: transparent;
	
	font-size: .8em;
	font-variant: small-caps;
	font-weight: 700;
	color: #FFF;
	border-radius: 0;
	margin-bottom: 8px;
}

input.btn-outline:hover, input.btn-submit:hover {
	background: rgba(255, 255, 0, .85);
}