
<div class="return">
	<a class="return-link" [routerLink]="['/']" ><span class="glyphicon glyphicon-circle-arrow-left">Back</span></a>
</div>

<div class="container-marketinfo row">
	<div  class="col-md-6">	
		<div class="btc-price">
			<p class="btc-price-header ">Current BTC Price </p>
			<p class="btc-price-value ">$<span #btcPrice>{{currentBTCPrice}}</span> {{denomination}}</p>
		</div>
		
		<div class="portfolio">
			<p class="portfolio-header ">Current Portfolio Value </p>
			<p class="portfolio-value ">{{currentPortfolioValue?.toFixed(2) | currency:'USD':true}} {{denomination}}</p>
		</div>
		<br>
		<br>
		<div>
			<canvas baseChart 
				[datasets]="barChartData"
				[labels]="barChartLabels" 
				[options]="barChartOptions"
            	[legend]="barChartLegend"
            	[chartType]="barChartType"
				(barHovered)="barHovered($event)"
				(barClicked)="barClicked($event)">
			</canvas>
		</div>
	</div>
	
	<div class="col-md-6">
		<canvas baseChart 
			[data]="doughnutChartData"
			[labels]="doughnutChartLabels" 
			[chartType]="doughnutChartType"
			(chartHover)="chartHovered($event)"
			(chartClick)="chartClicked($event)">
		</canvas>
	</div>
</div>

<br>
<div class="container-marketinfo row" >
	<input class="btn-outline" type="button" (click)="onGetCurrentBitcoinPrice()" value="Update BTC ($)" />
	<input class="btn-outline" type="button" (click)="onGetCurrentPortfolioValue(btcPrice.innerHTML)" value="Update Portfolio ($)" />
	<input class="btn-outline" type="button" (click)="showAvgReturn()" value="Return (1m)" />	
	<input class="btn-outline" type="button" (click)="showAccountChange()" value="Change % (1m)" />		
	<input class="btn-outline" type="button" (click)="showTotalTransaction()" value="Transaction (Total)" /> 
	<input class="btn-outline" type="button" (click)="showTotalPaidCommissions()" value="Paid Commissions (Total)" />	
</div>

