<div class="container">
	<div class="row">
		<div class="col-md-6 text-left align-middle">
			<h1 *ngIf="apiCalled == '' ">Select action</h1>
			<h1 *ngIf="apiCalled == 'onGetCoinMarket' ">Get Coin Markets</h1>
			<h1 *ngIf="apiCalled == 'onGetCurrencies' ">Get Currencies</h1>
			<h1 *ngIf="apiCalled == 'onGetMarketSummaries' ">Get Markets Summaries</h1>
			
			<h1 *ngIf="apiCalled == 'onGetTicker' ">Get Ticker</h1>
			<h1 *ngIf="apiCalled == 'onGetMarketHistory' ">Get Market History</h1>
			<h1 *ngIf="apiCalled == 'onGetOrderBook' ">Get Order Book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 align-middle">
			<button class="btn btn-outline" (click)="onGetCoinMarket()">Get Coins</button>
			<button class="btn btn-outline" (click)="onGetCurrencies()">Get Currencies</button>
			<button class="btn btn-outline" (click)="onGetMarketSummaries()">Get Markets Summaries</button>
			<br>
			<button class="btn btn-outline" (click)="onGetTicker()">* Get Ticker</button>			
			<button class="btn btn-outline" (click)="onGetOrderBook()"># Get Order Book</button>
			<button class="btn btn-outline" (click)="onGetMarketSummary()">* Get Market Summary</button>
		</div>
	</div>
	
	<!-- TODO, implement drop-down box with options  -->
	<div class="row">
		<div class="col-md-3">
			<label for='marketName'>market name</label><br>
			<input type="text" [(ngModel)]="marketName" name="marketName" class="params-input" placeholder="BTC-LTC" />
		</div>
		<div class="col-md-3">
			<label for='actionType'>buy, sell or both</label><br>
			<input type="text" [(ngModel)]="actionType" name="actionType" class="params-input" placeholder="BOTH" />
		</div>
	</div>
	<p class="required-params">* Requires market name, (BTC-LTC)</p>
	<p class="required-params"># Requires market name, (BTC-LTC), type, (buy, sell, both), depth, (max 50)</p>
	
	
	<br /> <br /> <br />


	<div class="row">
		<label hidden=true *ngIf="marketName != ''">{{marketName}}</label>
		<table class="table table-inverse table-responsive">
			<!-- START == onGetMarket -->
			<thead *ngIf="result && apiCalled == 'onGetCoinMarket'">
				<tr>
					<th>#</th>
					<th>logo</th>
					<th>base currency</th>
					<th>market currency</th>
					<th>market currency long</th>
					<th>market name</th>
					<th>create date</th>
				</tr>
			</thead>
			
			<tbody *ngIf="result && apiCalled == 'onGetCoinMarket' ">
				<tr *ngFor="let r of result; let i = index">
					<th scope="row">{{i+1}}</th>
					<td><img style="width: 34px; height: 34px;" src="{{r.logoUrl}}" /></td>
					<td class="text-capitalize">{{r.baseCurrency}}</td>
					<td class="text-capitalize">{{r.marketCurrency}}</td>
					<td class="text-capitalize">{{r.marketCurrencyLong}}</td>
					<td class="text-capitalize">{{r.marketName}}</td>
					<td class="text-capitalize">{{r.created}}</td>
				</tr>
			</tbody>
			<!-- END == onGetMarket -->
			
			<!-- START == onGetCurrencies  -->
			<thead *ngIf="result && apiCalled == 'onGetCurrencies' ">
				<tr>
					<th>#</th>
					<th>currency</th>
					<th>currency long</th>
					<th>min confirmation</th>
					<th>tx fee</th>
					<th>coin type</th>
					<!-- <th>base address</th> -->
				</tr>
			</thead>
			
			<tbody *ngIf="result && apiCalled == 'onGetCurrencies' ">
				<tr *ngFor="let r of result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td class="text-capitalize">{{r.currency}}</td>
					<td class="text-capitalize">{{r.currencyLong}}</td>
					<td class="text-capitalize">{{r.minConfirmation}}</td>
					<td class="text-capitalize">{{r.txFee}}</td>
					<td class="text-capitalize">{{r.coinType}}</td>
					<!-- <td class="text-capitalize">{{c.BaseAddress}}</td> -->
				</tr>
			</tbody>
			<!-- END == onGetCurrencies  -->
			
			
			<!-- START == onGetMarketSummaries  -->
			<thead *ngIf="result && apiCalled == 'onGetMarketSummaries' ">
				<tr>
					<th>#</th>
					<th>market name</th>
					<th>high</th>
					<th>low</th>
					<th>volume</th>
					<th>time stamp</th>
					<th>ask</th>
					<th>bid</th>
					<th>open buy orders</th>
					<th>open sell orders</th>
					<th>previous day</th>
				</tr>
			</thead>
			
			<tbody *ngIf="result && apiCalled == 'onGetMarketSummaries' ">
				<tr *ngFor="let r of result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td class="text-capitalize">{{r.marketName}}</td>
					<td class="text-capitalize">{{r.high.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.low.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.volume.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.timeStamp}}</td>
					<td class="text-capitalize">{{r.ask.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.bid.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.openBuyOrders}}</td>
					<td class="text-capitalize">{{r.openSellOrders}}</td>
					<td class="text-capitalize">{{r.prevDay}}</td>
										
				</tr>
			</tbody>
			<!-- END == onGetMarketSummaries  -->
			
			
			
			<!-- START == onGetTicker  -->
			<thead *ngIf="orderBook && apiCalled == 'onGetTicker' ">
				<tr>
					<th>#</th>
					<th>bid</th>
					<th>ask</th>
					<th>last</th>
				</tr>
			</thead>
			
			<tbody *ngIf="orderBook && apiCalled == 'onGetTicker' ">
				<tr *ngFor="let order of orderBook; let i = index ">
					<th scope="row">1</th>
					<td class="text-capitalize">{{order.bid.toFixed(8)}}</td>
					<td class="text-capitalize">{{order.ask.toFixed(8)}}</td>
					<td class="text-capitalize">{{order.last.toFixed(8)}}</td>
				</tr>
			</tbody>
			<!-- END == onGetTicker  -->
			
			
			<!-- START == onGetMarketSummary  -->
			<thead *ngIf="result && apiCalled == 'onGetMarketSummary' ">
				<tr>
					<th>market name</th>
					<th>high</th>
					<th>low</th>
					<th>volume</th>
					<th>time stamp</th>
					<th>ask</th>
					<th>bid</th>
					<th>open buy orders</th>
					<th>open sell orders</th>
					<th>previous day</th>
				</tr>
			</thead>
			
			<tbody *ngIf="result && apiCalled == 'onGetMarketSummary' ">
				<tr *ngFor="let res of result; let i = index ">
					<td class="text-capitalize">{{res.marketName}}</td>
					<td class="text-capitalize">{{res.high.toFixed(8)}}</td>
					<td class="text-capitalize">{{res.low.toFixed(8)}}</td>
					<td class="text-capitalize">{{res.volume.toFixed(8)}}</td>
					<td class="text-capitalize">{{res.timeStamp}}</td>
					<td class="text-capitalize">{{res.ask.toFixed(8)}}</td>
					<td class="text-capitalize">{{res.bid.toFixed(8)}}</td>
					<td class="text-capitalize">{{res.openBuyOrders}}</td>
					<td class="text-capitalize">{{res.openSellOrders}}</td>
					<td class="text-capitalize">{{res.prevDay}}</td>
										
				</tr>
			</tbody>
			<!-- END == onGetMarketSummary  -->
			
			
			
			<!-- START == onGetOrderBook  -->
			<thead *ngIf="orderBook && apiCalled == 'onGetOrderBook' ">
				<tr>
					<th>Market Name</th>
					<th>quantity</th>
					<th>rate</th>
					<th>order type</th>
					<th>Time stamp</th>
				</tr>
			</thead>
			
			<tbody *ngIf="orderBook && apiCalled == 'onGetOrderBook' ">
				<tr *ngFor="let o of orderBook; let i = index ">
					<th class="text-capitalize">{{o.coin.marketName}}</th>
					<td class="text-capitalize">{{o.quantity.toFixed(8)}}</td>
					<td class="text-capitalize">{{o.rate.toFixed(8)}}</td>
					<td class="text-capitalize">{{o.orderType}}</td>
					<td class="text-capitalize">{{o.orderBookDateTime}}</td>
				</tr>
			</tbody>
			
			<!-- END == onGetOrderBook  -->
			
			
			
			<!-- START == ??  -->
			<thead *ngIf="result && apiCalled == '??' ">
				<tr>
					<th>#</th>
					<th>id</th>
					<th>price</th>
					<th>total</th>
					<th>fill type</th>
					<th>order type</th>
				</tr>
			</thead>
			
			<tbody *ngIf="result && apiCalled == '??' ">
				<tr *ngFor="let r of result; let i = index ">
					<th scope="row">{{i}}</th>
					<td class="text-capitalize">{{r.id}}</td>
					<td class="text-capitalize">{{r.price.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.total.toFixed(8)}}</td>
					<td class="text-capitalize">{{r.fillType}}</td>
					<td class="text-capitalize">{{r.orderType}}</td>
				</tr>
			</tbody>
			<!-- END == ??  -->
			
		</table>
		<br /> <br /> <br />
	</div>
</div>