<div class="container">
	<div class="row">
		<div class="col-md-6 text-left align-middle">
			<h1 *ngIf="apiCalled == '' ">Select action</h1>
			<h1 *ngIf="apiCalled == 'onGetMarket' ">Get Coin Markets</h1>
			<h1 *ngIf="apiCalled == 'onGetCurrencies' ">Get Currencies</h1>
			<h1 *ngIf="apiCalled == 'onGetMarketSummaries' ">Get Markets Summaries</h1>
			
			<h1 *ngIf="apiCalled == 'onGetTicker' ">Get Ticker</h1>
			<h1 *ngIf="apiCalled == 'onGetMarketHistory' ">Get Market History</h1>
			<h1 *ngIf="apiCalled == 'onGetOrderBook' ">Get Order Book</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 align-middle">
			<button class="btn btn-outline" (click)="onGetMarket($event)">Get Coins</button>
			<button class="btn btn-outline" (click)="onGetCurrencies()">Get Currencies</button>
			<button class="btn btn-outline" (click)="onGetMarketSummaries()">Get Markets Summaries</button>
			<br>
			<button class="btn btn-outline" (click)="onGetTicker()">* Get Ticker</button>			
			<button class="btn btn-outline" (click)="onGetMarketSummary()">* Get Market History</button>
			<button class="btn btn-outline" (click)="onGetOrderBook()"># Get Order Book</button>
		</div>
	</div>
	
	<!-- TODO, implement drop-down box with options  -->
	<div class="row">
		<div class="col-md-3">
			<label for='marketName'>market name</label><br>
			<input type="text" [(ngModel)]="marketName" name="marketName" class="params-input" placeholder="BTC-LTC" />
		</div>
		<div class="col-md-3">
			<label for='actionType'>buy, sell or both</label><br>
			<input type="text" [(ngModel)]="actionType" name="actionType" class="params-input" placeholder="BOTH" />
		</div>
		<div class="col-md-3">
			<label for='depth'>depth</label><br>
			<input type="number" [(ngModel)]="depth" name="depth" class="params-input" [min]="10" placeholder="10" />
		</div>
	</div>
	<p class="required-params">* Requires market name, (BTC-LTC)</p>
	<p class="required-params"># Requires market name, (BTC-LTC), type, (buy, sell, both), depth, (max 50)</p>
	
	
	<br /> <br /> <br />


	<div class="row">
		<label *ngIf="marketName != ''">{{marketName}}</label>
		<table class="table table-inverse table-responsive">
			<!-- START == onGetMarket -->
			<thead *ngIf="coin && apiCalled == 'onGetMarket'">
				<tr>
					<th>#</th>
					<th>logo</th>
					<th>base currency</th>
					<th>market currency</th>
					<th>market currency long</th>
					<th>market name</th>
					<th>is active</th>
					<th>create date</th>
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == 'onGetMarket' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td><img style="width: 34px; height: 34px;" src="{{c.LogoUrl}}" /></td>
					<td class="text-capitalize">{{c.BaseCurrency}}</td>
					<td class="text-capitalize">{{c.MarketCurrency}}</td>
					<td class="text-capitalize">{{c.MarketCurrencyLong}}</td>
					<td class="text-capitalize">{{c.MarketName}}</td>
					<td class="text-capitalize">{{c.IsActive}}</td>
					<td class="text-capitalize">{{c.Created}}</td>
				</tr>
			</tbody>
			<!-- END == onGetMarket -->
			
			<!-- START == onGetCurrencies  -->
			<thead *ngIf="coin && apiCalled == 'onGetCurrencies' ">
				<tr>
					<th>#</th>
					<th>currency</th>
					<th>currency long</th>
					<th>min confirmation</th>
					<th>tx fee</th>
					<th>is active</th>
					<th>coin type</th>
					<!-- <th>base address</th> -->
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == 'onGetCurrencies' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td class="text-capitalize">{{c.Currency}}</td>
					<td class="text-capitalize">{{c.CurrencyLong}}</td>
					<td class="text-capitalize">{{c.MinConfirmation}}</td>
					<td class="text-capitalize">{{c.TxFee}}</td>
					<td class="text-capitalize">{{c.IsActive}}</td>
					<td class="text-capitalize">{{c.CoinType}}</td>
					<!-- <td class="text-capitalize">{{c.BaseAddress}}</td> -->
				</tr>
			</tbody>
			<!-- END == onGetCurrencies  -->
			
			
			<!-- START == onGetMarketSummaries  -->
			<thead *ngIf="coin && apiCalled == 'onGetMarketSummaries' ">
				<tr>
					<th>#</th>
					<th>market name</th>
					<th>high</th>
					<th>low</th>
					<th>volume</th>
					<th>base volume</th>
					<th>time stamp</th>
					<th>open buy orders</th>
					<th>open sell orders</th>
					<th>previous day</th>
					<th>created</th>
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == 'onGetMarketSummaries' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td class="text-capitalize">{{c.MarketName}}</td>
					<td class="text-capitalize">{{c.High}}</td>
					<td class="text-capitalize">{{c.Low}}</td>
					<td class="text-capitalize">{{c.Volume}}</td>
					<td class="text-capitalize">{{c.BaseVolume}}</td>
					<td class="text-capitalize">{{c.TimeStamp}}</td>
					<td class="text-capitalize">{{c.OpenBuyOrders}}</td>
					<td class="text-capitalize">{{c.OpenSellOrders}}</td>
					<td class="text-capitalize">{{c.PrevDay}}</td>
					<td class="text-capitalize">{{c.Created}}</td>
										
				</tr>
			</tbody>
			<!-- END == onGetMarketSummaries  -->
			
			
			
			<!-- START == onGetTicker  -->
			<thead *ngIf="orderBook && apiCalled == 'onGetTicker' ">
				<tr>
					<th>#</th>
					<th>bid</th>
					<th>ask</th>
					<th>last</th>
				</tr>
			</thead>
			
			<tbody *ngIf="orderBook && apiCalled == 'onGetTicker' ">
				<tr>
					<th scope="row">1</th>
					<td class="text-capitalize">{{orderBook.result.Bid.toFixed(8)}}</td>
					<td class="text-capitalize">{{orderBook.result.Ask.toFixed(8)}}</td>
					<td class="text-capitalize">{{orderBook.result.Last.toFixed(8)}}</td>
				</tr>
			</tbody>
			<!-- END == onGetTicker  -->
			
			
			<!-- START == onGetMarketSummary  -->
			<thead *ngIf="coin && apiCalled == 'onGetMarketSummary' ">
				<tr>
					<th>#</th>
					<th>market name</th>
					<th>high</th>
					<th>low</th>
					<th>volume</th>
					<th>base volume</th>
					<th>time stamp</th>
					<th>open buy orders</th>
					<th>open sell orders</th>
					<th>previous day</th>
					<th>created</th>
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == 'onGetMarketSummary' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i+1}}</th>
					<td class="text-capitalize">{{c.MarketName}}</td>
					<td class="text-capitalize">{{c.High}}</td>
					<td class="text-capitalize">{{c.Low}}</td>
					<td class="text-capitalize">{{c.Volume}}</td>
					<td class="text-capitalize">{{c.BaseVolume}}</td>
					<td class="text-capitalize">{{c.TimeStamp}}</td>
					<td class="text-capitalize">{{c.OpenBuyOrders}}</td>
					<td class="text-capitalize">{{c.OpenSellOrders}}</td>
					<td class="text-capitalize">{{c.PrevDay}}</td>
					<td class="text-capitalize">{{c.Created}}</td>
										
				</tr>
			</tbody>
			<!-- END == onGetMarketSummary  -->
			
			
			
			<!-- START == onGetOrderBook  -->
			<thead *ngIf="coin && apiCalled == 'onGetOrderBook' ">
				<tr>
					<th>#</th>
					<th>Quantity</th>
					<th>Rate</th>
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == 'onGetOrderBook' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i}}</th>
					<td class="text-capitalize">{{c.Quantity.toFixed(8)}}</td>
					<td class="text-capitalize">{{c.Rate.toFixed(8)}}</td>
				</tr>
			</tbody>
			
			<!-- END == onGetOrderBook  -->
			
			
			
			<!-- START == ??  -->
			<thead *ngIf="coin && apiCalled == '??' ">
				<tr>
					<th>#</th>
					<th>id</th>
					<th>price</th>
					<th>total</th>
					<th>fill type</th>
					<th>order type</th>
				</tr>
			</thead>
			
			<tbody *ngIf="coin && apiCalled == '??' ">
				<tr *ngFor="let c of coin.result; let i = index ">
					<th scope="row">{{i}}</th>
					<td class="text-capitalize">{{c.Id}}</td>
					<td class="text-capitalize">{{c.Price.toFixed(8)}}</td>
					<td class="text-capitalize">{{c.Total.toFixed(8)}}</td>
					<td class="text-capitalize">{{c.FillType}}</td>
					<td class="text-capitalize">{{c.OrderType}}</td>
				</tr>
			</tbody>
			<!-- END == ??  -->
			

		
			
			
		</table>
		<br /> <br /> <br />
	</div>
</div>