<div class="row">

	<div class="col-md-8 col-md-offset-1">
		<h3>API/Exchange Settings</h3>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="inputAddKey">Add/Update API Key</label> 
					<input type="text" class="form-control" id="inputAddKey" placeholder="API Key">
				</div>
			</div>

			<!-- TODO -- ADD ABILITY TO SELECT EXCHANGE  -->
		</div>
		
		<button (click)="onAddAPI()" class=" btn-outline btn-submit">Add / Update</button>
		
	</div>

</div>