<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h3>API/Exchange Settings</h3>
		
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="exchangeName">Select Exchange</label> 
					
					<input 	type="text" 
						class="form-control" 
						id="exchangeName" 
						value="BITTREX"
						disabled="disabled"
						#exchangeName >
				</div>
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-sm-6">
				<div class="form-group">
					<label for="inputAddKey">API Key</label> 
					<input 	type="text" 
							class="form-control" 
							id="inputAddKey" 
							[(ngModel)]="apiKey"
							placeholder="API Key">
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="form-group">
					<label for="inputSecretKey">Secret Key</label> 
					<input 	type="text" 
							class="form-control" 
							id="inputSecretKey" 
							[(ngModel)]="secretKey"
							placeholder="Secret Key">
				</div>
			</div>
		</div>
		
		<button (click)="onSaveApiKey(exchangeName.value)" class=" btn-outline btn-submit">Add / Update</button>

	</div>
</div>