<!-- <h1>Market Info - Display Filters</h1>
<div class="row">
	<div class="col-md-1"></div>
	<input type="submit" 
			class="btn-submit" 
			value="Apply Filters" 
			(click)="onGetCoinMarketInfo()" />
</div>

DISABLE FORM - ENABLE FILTER AFTER RESULT IS RETURNED
<form #marketCoinInfoFilter="ngForm">
	<div class="row">
		<div class="col-md-10">
			<div class="row" >
				<div class="col-md-4" *ngFor="let option of marketInfoOptions" >
					<label for="{{option.param}}">{{option.display}}</label><br />
					<input type="checkbox" [checked]="option.checked" 
						id="{{option.param}}" class="btn-outline" value="{{option.param}}"  />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<input type="submit" 
						class="btn-submit" 
						value="Apply Filters" 
						(click)="onGetCoinMarketInfo()" />
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</form >

<table class="table table-inverse">
	<thead>
		<tr>
			<th>Logo</th>
			<th>Market Name</th>
			<th>Ask</th>
			<th>Buy</th>
			<th>Low</th>
		</tr>
	</thead>
	<tbody *ngIf="marketInfo != null">
		<tr *ngFor="let mView of marketInfo;">
			<td><img style="width: 27px; height: 27px;" src="{{mView?.logo}}" alt="coinLogo" /></td>
			<td>{{mView?.marketCurrencyLong}}</td>
			<td>{{mView?.sellOrders}}</td>
			<td>{{mView?.buyOrders}}</td>
			<td>{{mView?.low}}</td>
		</tr>
	</tbody>
	
</table>

 -->