<div class="row">

	<div class="col-md-8 col-md-offset-1">
		<h3>Network / Social Settings</h3>				
		<div class="row">
		
		  <div class="col-sm-6">
		    <div class="form-group">
		      <label for="inputFriendEmail">Email (To add as contact)</label>
		      <input type="text" class="form-control" id="inputFriendEmail" placeholder="Friend Email">
		    </div>
		  </div>
	
		</div>
				
		<button (click)="onAddFriendToNetwork()" class=" btn-outline btn-submit">Add Friend</button>
	</div>
	
			  
	<!--  TODO -- MUST Display current list of friends  -->
	<!-- <button (click)="onRemoveFriendFromNetwork()" class=" btn-outline btn-delete">Remove Friend</button> -->
	
</div>