

<!-- <div class="container">

	<div class="row">
	
		<div class="col-xs-6">
			<app-login-form></app-login-form>
		</div>
		
		<div class="col-xs-6 ">
			<app-signup-form></app-signup-form>
		</div>

	</div>
	
</div>


<app-coin></app-coin> -->

<!--  ADD FIXED NAV CONTAINER FOR SIDE  -->

<div class="container container-wide">
	<div class="row">
	
		<div class="col-md-2">
			FOR SIDE PROFILE/NAV-BAR
		</div>
	
		<div class="col-md-7">
			<app-account></app-account>
		</div>
		
		<div class="col-md-3">
			<app-market></app-market>
		</div>


	</div>

</div>




