
<div class="row">
	<div class="col-md-6">
		<h1>Market Info</h1>
		<p>* Click coin - add as favorite</p>
	</div>

	<div class="col-md-6 ">
		<input type="button" 
				class="btn-submit " 
				value="Update Market Info" 
				(click)="onGetCoinMarketInfo()" /> 
	</div>	
 </div>					



<table class="table table-inverse">
	<thead>
		<tr>
			<th>Logo</th>
			<th>Market Name</th>
			<th>Ask</th>
			<th>Buy</th>
			<th>Low</th>
		</tr>
	</thead>
	<tbody *ngIf="marketInfo != null">
		<tr *ngFor="let mView of marketInfo.result;">
			<td>				
				<span #coinId hidden="true">{{mView?.id}}</span>
				<img (click)="onSaveFavorite(coinId.textContent, marketName.textContent)" 
					style="width: 27px; height: 27px;" src="{{mView?.logo}}" alt="coinLogo" />
			</td>
			<td #marketName >{{mView?.marketCurrencyLong}}</td>
			<td>{{mView?.sellOrders}}</td>
			<td>{{mView?.buyOrders}}</td>
			<td>{{mView?.last.toFixed(8)}}</td>
		</tr>
	</tbody>
	
</table>



<!-- DISABLE FORM - ENABLE FILTER AFTER RESULT IS RETURNED
<form #marketCoinInfoFilter="ngForm">
	<div class="row">
		<div class="col-md-10">
			<div class="row" >
				<div class="col-md-4" *ngFor="let option of marketInfoOptions" >
					<label for="{{option.param}}">{{option.display}}</label><br />
					<input type="checkbox" [checked]="option.checked" 
						id="{{option.param}}" class="btn-outline" value="{{option.param}}"  />
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<input type="submit" 
						class="btn-submit" 
						value="Apply Filters" 
						(click)="onGetCoinMarketInfo()" />
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</form > -->