th, td, h1 {
	color: rgb(255, 255, 255);
}

th {
	font-size: .8em;
}

td {
	font-size: .70em;
}

h1 {
	font-variant: small-caps;
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 8px;
	min-width: 300px;
	width: 320px;
}

input, label {
	display: inline-block;
	font-size: .7em;
	color: #fff;
	padding: 0;
}

input.btn-submit {
	border: 1px solid #FF0;
	background: transparent;
	width: 80%;
}

input.btn-outline {
	border: 1px solid #FF0;
	background: transparent;
	
	font-size: .8em;
	font-variant: small-caps;
	font-weight: 700;
	color: #FFF;
	border-radius: 0;
	margin-bottom: 8px;
}

input.btn-outline:hover, input.btn-submit:hover {
	background: rgba(255, 255, 0, .85);
}