
<div class="row">

	<div class="col-md-8 col-md-offset-1">
		<h3>Coin Favorites View / Settings </h3>				
		<div class="row">
			
			<table class="table table-inverse table-responsive">
				
				<thead *ngIf="favCoinList != null" >
					<tr>
						<th>Logo</th> 
						<th>Coin Name</th>
						<th>Ask</th>
						<th>Bid</th>
						<th>Volume</th>
						<th>Delete</th>
					</tr>
				</thead>
				
				<thead *ngIf="favCoinList != null" >
					<tr *ngFor="let tok of favCoinList.result ">
						<td><img style="height: 27px; width: 27px;" src="{{tok?.logoUrl}}" alt="Logo" /></td> 
						<td>{{tok?.marketCurrencyLong}} </td>
						<td>{{tok?.ask.toFixed(8)}}</td>
						<td>{{tok?.bid.toFixed(8)}}</td>
						<td align="right">{{tok?.volume.toFixed(2) | currency:'USD':true}}</td>
						<td><input type="button" 
								(click)="onDeleteFavoriteCoin(tok?.userCoinFavoriteId)"
								class="btn-outline" value="Delete" /></td>
					</tr>
				</thead>
			
			</table>
			
		</div>
	</div>
	
</div>