
<div class="row">
	<h1>Account</h1>
	<ul class="nav navbar-inverse">
		<li><a href="balances">Balances </a></li>
		<li><a href="history">History </a></li>
		<li><a href="order">Order </a></li>
	</ul>
</div>

<div class="row">
	<table class="table table-inverse table-responsive">
		<thead>
			<tr>
				<th>Logo</th>
				<th>Market Name</th>
				<th>Todays High</th>
				<th>Todays Low</th>
				<th>Quantity</th>
				<th>Balance</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Logo PH</td>
				<td>Market PH</td>
				<td>High PH</td>
				<td>Low PH</td>
				<td>QTY PH</td>
				<td>Balance PH</td>
			</tr>
		</tbody>
	</table>
</div>