
h1 {
	color: rgb(255,255,255);
	font-variant: small-caps;
	font-size: 36px;
	font-weight: 700;
	
	margin-bottom: 8px;

	min-width: 300px;
	width: 320px;
}


ul {
	float: left;
	display: inline-block;
	
	width: 100%;
}

li, a {
	display: inline-block;
	color: #fff;
}


a:after {
	padding-left: 16px;
}


table {
	color: #fff;
	table-layout: fixed;
	overflow-x: auto;
}

table td:FIRST-CHILD,
table th:FIRST-CHILD {
	width: 44px;
}

table td, table th {
	text-align: center;
	max-width: 100%;
}

td {
	font-size: .8em;
	font-variant: small-caps;
}

input.btn-outline {
	border: 1px solid #FF0;
	background: transparent;
	
	font-size: .8em;
	font-variant: small-caps;
	font-weight: 700;
	color: #FFF;
	border-radius: 0;
	margin-bottom: 8px;
}

input.btn-outline:hover, input.btn-submit:hover {
	background: rgba(255, 255, 0, .85);
}
