
<div id="wrapper" class="toggled">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><span class="glyphicon glyphicon-new-window" >View</span></li>
			<li><a [routerLink]="['/account']"><span class="glyphicon glyphicon-stats" >Account/Market</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-star" >Favorites</span></a></li>
			<li class="sidebar-brand"><span class="glyphicon glyphicon-cog" >Settings</span></li>
			
			<li><a href="#"><span class="glyphicon glyphicon-user">Profile</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-transfer" >API/Exchange</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-user" >Network</span></a></li>
			<li><a href="#"><span class="glyphicon glyphicon-lock" >Password</span></a></li>
			<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
		</ul>
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
		
			<div class="row">
				<div class="col-md-12">
					<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
	<!-- 			<h4><span>Welcome</span> {{currentUser.firstName}} {{currentUser.lastName}}!</h4> -->


					<!-- <app-profile></app-profile> -->
					<!-- <app-apiexchange></app-apiexchange> -->
					<!-- <app-network></app-network> -->
					<app-password></app-password>

				</div>
			</div>
		</div>		
	</div> <!--  END PAGE-CONTENT-WRAPPER  -->
	
</div><!--  END WRAPPER  -->


