
<div id="wrapper" class="toggled">
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><span class="glyphicon glyphicon-new-window" >View</span></li>
			<li><a [routerLink]="['/account']"><span class="glyphicon glyphicon-stats" >Account/Market</span></a></li>
			<li><a (click)="showFavorite()"><span class="glyphicon glyphicon-star" >Favorites</span></a></li>
			<li class="sidebar-brand"><span class="glyphicon glyphicon-cog" >Settings</span></li>
			
			<li><a (click)="showProfile()" ><span class="glyphicon glyphicon-user">Profile</span></a></li>
			<li><a (click)="showApiExchange()" ><span class="glyphicon glyphicon-transfer" >API/Exchange</span></a></li>
			<li><a (click)="showNetwork()" ><span class="glyphicon glyphicon-user" >Network</span></a></li>
			<li><a (click)="showPassword()" ><span class="glyphicon glyphicon-lock" >Password</span></a></li>
			<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
		</ul>
	</div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
		
			<div class="row">
				<div class="col-md-12">
					<!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
	<!-- 			<h4><span>Welcome</span> {{currentUser.firstName}} {{currentUser.lastName}}!</h4> -->
					
					<app-favorite *ngIf="isFavoriteActive" 
						[isFavoriteActive]="isFavoriteActive"></app-favorite>
					
					<app-profile *ngIf="isProfileActive" 
						[isProfileActive]="isProfileActive"></app-profile>
					
					<app-apiexchange *ngIf="isApiExchangeLinkActive" 
						[isApiExchangeLinkActive]="isApiExchangeLinkActive" ></app-apiexchange>
					
					<app-network *ngIf="isNetworkActive" 
						[isNetworkActive]="isNetworkActive"></app-network>
					
					<app-password *ngIf="isPasswordActive" 
						[isPasswordActive]="isPasswordActive"></app-password>

				</div>
			</div>
		</div>		
	</div> <!--  END PAGE-CONTENT-WRAPPER  -->
	
</div><!--  END WRAPPER  -->


