<div class="row">

	<div class="col-md-8 col-md-offset-1">
		<h3>Profile Settings</h3>
				
		<div class="row">
		  <div class="col-sm-6">
		    <div class="form-group">
		      <label for="inputFirstName">First Name</label>
		      <input required #firstName type="text" class="form-control" id="inputFirstName" placeholder="First Name">
		    </div>
		  </div>
		  <div class="col-sm-6">
		    <div class="form-group">
		      <label for="inputLastName">Last Name</label>
		      <input required #lastName type="text" class="form-control" id="inputLastName" placeholder="Last Name">
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-6">
		    <div class="form-group">
		      <label for="inputEmail">Email (username)</label>
		      <input required #userName type="email" class="form-control" id="inputEmail" placeholder="Email">
		    </div>
		  </div>
		</div>
		
		<button (click)="onUpdateProfile(firstName.value, lastName.value, userName.value)" class=" btn-outline btn-submit">Submit</button>
		<!-- <button (click)="onDeleteProfile()" class=" btn-outline btn-delete">Delete Account</button> -->

	</div>
	
</div>